<h2><a href="/pokemon">All Pokemon</a></h2>
<div class="pokemon">
  <ul>
    <p>Name: <%= @pokemon.name %></p>
    <p>Type: <%= @pokemon.poke_type %></p>
    <p>CP: <%= @pokemon.cp %></p>
  </ul>
  <img src="<%= @pokemon.img_url %>"></img>
  <a href="/pokemon/<%= @pokemon.id %>/edit">Edit Pokemon</a>
</div>
